@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');

/*
TABLE OF CONTENTS
  DEFAULT
    00. Color Palette
    01. General 
    02. Header (Navigation bar)
    03. Home
    04. About
    05. Academic Programs
    06. Research & Publications
    07. News & Announcements
    08. Resource & Facilities
    09. Extension
    10. Footer


  RESPONSIVE
    - 900px
    - 1000px


*/

/*-----------------------------------*/
/*             DEFAULT               */
/*-----------------------------------*/

/* 00. COLOR PALETTE */
:root {
    --primary: #2D0097; /* Blue */
    --secondary: #100036; /* Dark Blue */
    --tertiary: #E8D203; /* Yellow */
    --fade-blue: #260B66;
    --gray: #757575;
    --dark-gray: #212121;
    --bg: #f9f9f9;
    --primary-opacity: rgba(45, 0, 151, 0.9);
    --secondary-opacity: rgba(16, 0, 54, 0.9);
    --gray-opacity: rgba(33, 33, 33, 0.9);
}  



/* 01. GENERAL */
html,
body {
  font-size: 15px;
  color: black;
  background-color: var(--bg);
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  display: inline-block;
  width: 80%;
  font-size: 50px;
  font-weight: 700;
}
.btn-primary {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary); 
  padding: 9px;
  width: 130px;
}
.btn-primary:hover {
  background-color: var(--fade-blue);
  border-color: var(--fade-blue);
}
.card-btn{
  background-color: var(--primary);
  color: white;
  border-color: var(--primary); 
}
.card-btn:hover {
  background-color: var(--fade-blue);
  border-color: var(--fade-blue);
}
p {
  font-size: 12px;
  line-height: 1.5;
}
.rounded {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}




/* 02. HEADER (navigation bar) */
/* Custom CSS for transparent navbar */
.navbar {
  background-color: transparent !important;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.4s ease;
}
.navbar.scrolled {
  background-color: white !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navbar .nav-link.active {
  color: var(--tertiary);
}
.navbar .nav-link:hover {
  color: var(--tertiary);
}
.navbar .nav-link {
  color: white;
}
.navbar.scrolled .nav-link,.navbar.scrolled .cvsm{
  color: black;
}
.navbar.scrolled .nav-link:hover {
  color: var(--tertiary);
}
.navbar .nav-link.active {
  color: var(--tertiary);
}

/* Toggler and Offcanvas */
.navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.custom-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.custom-toggler-icon {
  color: white;
}
.navbar.scrolled .custom-toggler-icon {
  color: black;
}
.offcanvas {
  background-color: var(--gray-opacity);
}
.navbar.scrolled .offcanvas {
  background-color: white;
}
.custom-close {
  color: white;
  background-color: transparent;
  border: none;
}
.navbar.scrolled .custom-close {
  color: black;
}


/* Dropdown */
.navbar .dropdown-menu {
  background-color: var(--gray-opacity);
}
.navbar .dropdown-item {
  color: white;
}
.navbar .dropdown-item:hover, .navbar .dropdown-item.active  {
  background-color: var(--tertiary);
}
.navbar.scrolled .dropdown-menu {
  background-color: white;
}
.navbar.scrolled .dropdown-item {
  color: black;
}

/* Dropdown submenu */

    
    
/* 03. HOME */
/* Home Carousel Slides OVERVIEW */
/* Home Gradient */
.gradient-overlay {
  background: linear-gradient(to right, var(--secondary), transparent);
  z-index: 1;
}
.carousel-control-prev, .carousel-control-next, .carousel-caption {
  z-index: 2;
}
/*Carousel Caption*/
.hero-univ span {
  font-size: 25px;
}
.hero-quote p {
  font-size: 20px;
}
.hero-caption .hero-logo img {
  height: 40px;
  margin-bottom: 15px;
}
.hero-button .btn-dark {
  padding: 2px 15px;
  border-radius: 20px;
  border-style: none;
}
/* News and Announcement OVERVIEW */
.section-title {
  color: var(--primary);
}
.section-subtitle::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 30px;
  background-color: var(--tertiary);
  margin-right: 10px;
  margin-bottom: -5px;
}
/* News and Announcement (Latest News)  */
#news-carousel {
  position: relative;
}
#news-carousel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, var(--secondary), transparent);
  z-index: 1;
}
.news-img img {
  border-radius: 5px;
  object-fit: cover;
  z-index: 1;
}
/* News and Announcements (Upcoming Events)*/
.card-caption {
  margin-bottom: 0px;
}
.calendar {
  background: white;
  border-radius: 5px;
}
.event-header {
  background: var(--primary);
  height: 30%;
}
.event-body {
  background-color: var(--tertiary);
  height: 70%;
}
.event-des-title {
  height: 40%;
}
.event-des-text {
  max-height: 40%;
}
/* Academic Programs OVERVIEW */
.card {
  border: none;
  overflow: hidden;
  position: relative;
  height: 300px;
  display: block;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-overlay {
  padding: 1rem;
  background: linear-gradient(to top, var(--secondary), transparent); 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  transition: height 0.5s ease;
}
.card:hover .card-overlay {
  height: 200%;
}
.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  display: block;
  transition: visibility 1s ease;
  z-index: 2;
}
.card-body1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  display: block;
  transition: visibility 1s ease;
  z-index: 2;
}
.card-body2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  display: none;
  transition: visibility 5s ease;
  z-index: 2;
}
.card:hover .card-body {
  display: none;
}
.card:hover .card-body2 {
  display: block;
}
/* About and Research & Publications OVERVIEW */
.four-view img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}/*
.four-view iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}*/
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.iframe-bg {
  background-color: var(--secondary);
}/*
.ov-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.ov-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary-opacity), var(--secondary-opacity));
}/*
.ov-content {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  z-index: 3;
}*/
.ov-image-container {
  position: relative;
}
.ov-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary-opacity), var(--secondary-opacity)); 
  z-index: 1; 
}
.ov-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-40%, -50%);
  z-index: 2; 
  color: white; 
  padding: 20px; 
  text-align: left;
  z-index: 3; 
}
.ov-title {
  color: var(--tertiary);
  font-size: 24px;
  margin-bottom: 10px;
}
.ov-description {
  font-size: 14px;
  margin-bottom: 20px;
}
/* Facilities and Card */
.card-logo {
  width: 40px;
  display: inline-block;
}
.card-logo-container {
  top: 10px;
  width: 25px;
  position: absolute;
  right: 40px;
  gap: 5px;
}
.card .card-facilities img {
  height: 100px;
}
/* Department */
/* Accordion */
.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):hover  {
  background-color: var(--primary);
  color: white; 
  border: none;
}
.accordion-button.collapsed {
  background-color: white;
  color: var(--secondary); 
  border: none;
}
/* Accordion Content */
#accordion-img {
  position: relative;
}
#accordion-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--secondary), transparent);
  z-index: 2;
}
.accordion-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: 1;
}
.accordion-body {
  top: 50%;
  left: 25%;
}


/* 04. ABOUT */
/* 03. ACADEMIC PROGRAMS  */
/* 03. RESEARCH & PUBLICATIONS */
/* 03. NEWS & ANNOUNCEMENTS */
/* 03. RESOURCE & FACILITIES */
/* 03. EXTENSION */


/* 10. FOOTER */
.footer {
  background-color: var(--gray-opacity);
}
.footer-bg {
  position: relative;
}
.footer-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  object-fit: cover;
  z-index: 1; 
}
.footer {
  position: relative;
  z-index: 2;
}
.footer-end {
  width: 150%;
  height: 20px;
  margin-left: -20px;
  background-color: var(--primary);
}
.footer .footer-offwhite {
  color: #cbcbcb;
}
/* Footer title color */
.footer h5, .footer h6 {
  color: white;
}
.footer a {
  color: inherit;
  text-decoration: none;
}



/*-----------------------------------*/
/*            RESPONSIVE             */
/*-----------------------------------*/

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 45px;
  }
  .hero-caption span {
    font-size: 20px;
  }
  .hero-caption p {
    font-size: 18px;
  }
  .hero-caption img {
    height: 35px;
  }
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 35px;
  }
  .hero-caption span {
    font-size: 18px;
  }
  .hero-caption p {
    font-size: 17px;
  }
  .hero-caption img {
    height: 30px;
  }
}





